@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-card {
  height: 100%; /* h-full */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  border-right: 1px solid var(--border-color); /* border-r, el color puede variar según la configuración de Tailwind */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05); /* shadow-sm, la sombra puede variar según la configuración de Tailwind */
}


/* Custom classes for dynamic elements */
.sidebar-collapsed {
  width: 0;
}

.sidebar-expanded {
  width: auto;
}

.sidebar-item-expanded {
  background: linear-gradient(to top right, #c7d2fe, #e0e7ff);
  color: #3730a3;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem 0;
  border-radius: 0.375rem;
}

.sidebar-item-collapsed {
  color: #4b5563;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem 0;
  border-radius: 0.375rem;
}

.sidebar-item-collapsed:hover {
  background-color: #eef2ff;
  color: #3730a3;
}

.sidebar-alert {
  position: absolute;
  right: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #6366f1;
}

.sidebar-text-expanded {
  overflow: hidden;
  white-space: nowrap;
  width: 13rem;
  margin-left: 0.75rem;
  transition: width 0.3s ease;
  color: var(--color-dark);
}

.sidebar-text-collapsed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  transition: width 0.3s ease;
}

.sidebar-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 50;
  margin-top: 0.5rem;
  background-color: white;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
}

.sidebar-submenu-open {
  position: absolute;
  border-radius: 0.375rem; /* rounded-md */

  left: 100%;
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem; /* py-1 */
  margin-left: 1.5rem; /* ml-6 */
  background-color: white;
  font-size: 0.875rem; /* text-sm */
  visibility: hidden; /* invisible */
  opacity: 0.2; /* opacity-20 */
  transform: translateX(-0.75rem); /* -translate-x-3 */
  transition: all 0.2s; /* transition-all */


  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  white-space: nowrap; 
  align-items: center; 
}
.group:hover .sidebar-submenu-open {
  visibility: visible; /* group-hover:visible */
  opacity: 1; /* group-hover:opacity-100 */
  transform: translateX(0); /* group-hover:translate-x-0 */
}

.icon-container {
  display: flex;
  align-items: center;
}

.sidebar-header {
  padding: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-toggle-button {
  padding: 0.375rem;
  border-radius: 0.5rem;
  background-color: var(--button-togle);
  transition: background-color 0.3s ease;
}

.sidebar-toggle-button:hover {
  background-color: var(--button-togle-hover);
}

.sidebar-profile {
  display: flex;
  padding: 0.75rem;
  border-top: 1px solid #e5e7eb;
  align-items: center;
}

.sidebar-profile-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  overflow: hidden;
}

.sidebar-profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease;
}
